@charset "EUC-KR";
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 0px solid silver;
    }
    body {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 0.9rem;
        line-height: 1.2rem;
        color: #333;
        letter-spacing: 0.1px;
    }
h2 {
        font-size: 2.4rem;
        line-height: 3.1rem;
        text-transform: uppercase;
        text-align: center;
    }
h5 {
        font-size: 0.85rem;
        line-height: 1rem;
        margin-bottom: 1rem;
    }
a:link {
        color: #999;
        text-decoration: none;
    }

    a:visited {
        color: #999;
    }

    a:hover {
        color: #999;
    }
button {
        font-size: 14px;
        background: #eebd07;
        color: #333;
        font-weight: bold;
        margin-top: 1.5rem;
    }
    button:hover {
        background: #000;
        cursor: pointer;
        color: #fff;
        transition: 0.7s;
    }
.findid h2 {
        width: 400px;
        padding: 50px 0;
        margin: 0 auto;
        text-align: center;
    }
    .findid h5 {
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }
     .findidpage {
        width: 500px;
        padding: 50px 50px;
        margin: 0 auto;

    }
    .findidpagd>div {
        width: 400px;
        margin: 0 auto;
        padding: 3rem 0;
        background: #fff;
    }
    .findidform1 {
        padding: 1rem 20px;
        margin-bottom: 5px;
        width: 100%;
        border: 1px solid #ccc;
    }
      .findidform2 {
        padding: 1rem 20px;
        margin-bottom: 5px;
        width: 30.5%;
        border: 1px solid #ccc;
    }
    .findidpage div>div {
        padding: 0 30px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .findidpage div>div:hover {
        color: #000;

    }
    .findidbnt {
        width: 100%;
        padding: 15px;
        background: #555;
        color: #fff;
        border: none;
        margin: 10px 0;
        transition: 0.5s;
    }
    .findidbnt:hover {
        background: #000;
        color: #fff;
    }              